@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Orbitron&family=Share+Tech&family=Tektur:wght@400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Orbitron&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Share+Tech&family=Teko:wght@300..700&family=Tektur:wght@400..900&display=swap');



body {
    background-color:  #ec6816;
    color: white;
    font-family: "Tektur", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-bottom: 70px;
    background-color: black;
    color: white;
    background-image: linear-gradient(#ffab00, white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* border: 1px solid #D3AF37; */
}

header h1 {
    color:  black;
    /* text-align: center; */
    font-size: 2rem;
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: flex;
    padding-top: 10px;
    padding-right: 50px;
    gap: 35px;
  }

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: black;
}
  

/* crypto table container */
.container-fluid {
    padding-top: 120px;
    padding-bottom: 70px;
    background-color: white;
    color: black;
    border-radius: 5px;
    border: 1px solid #D3AF37;
    border-top: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #222;
    color: white;
    font-family: "Teko", sans-serif;
    font-size: 20px;
}

thead {
    background-color: orange;
    color: white;
}

img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 8px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}

div p > a {
    color: rgb(38, 202, 38);
}

/* crypto calculator container */
#calculator-container {
    background: black;
    color: white;
    padding-top: 70px;
    padding-bottom: 70px;
    border-radius: 5px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    border: 1px solid #D3AF37;
}

.currency-container {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    margin: 0;
}

div.container {
    justify-content: center;
}

.container p.text-success {
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding: 20px 10px 10px 10px;
}

.input-box {
    display: flex;
    justify-content: center;
}

.input-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid white;
    font-size: 16px;
    background-color: #000;
    color: white;
}

div input::before {
    content: "";
    margin: 10px;
}

div.currency {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}

.select-option {
    width: 180px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid white;
    font-size: 16px;
    background-color: #000;
    color: white;
}

button {
    /* background: #ffab00; */
    background-color: #000;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid white;
    cursor: pointer;
}

button:hover {
    color: black;
    /* background: #ff9100; */
    background-color: white;
}

span output {
    display: flex;
    color: #66ff00;
    justify-content: center;
    font-size: 30px;
}

/* news section */
#news-container { 
    width: 100%; 
    max-width: 2000px; 
    margin: 0 auto; 
    padding: 70px; 
    justify-content: space-between;
    color: #000;
    background-color: white;
    text-align: center;
    border: 1px solid #D3AF37;
}

.flex { 
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
}

.card { 
    background: #212121;
    color: white;
    width: 250px; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    overflow: hidden; 
    cursor: pointer; 
    transition: transform 0.3s; 
}
.card:hover { 
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1); 
}
.card-header img {
    border-radius: 8px; 
    width: 100%; 
    height: 150px; 
    object-fit: cover; 
}

.card-content { 
    padding: 10px; 
}

.news-source { 
    color: #ffab00;
    margin: 10px 0; 
    font-size: bold; 
}

.news-desc { 
    font-size: 0.9rem; 
}

@media (max-width: 768px) {
    .currency {
        flex-direction: column;
    }
}